<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-img
      slot="end"
      class="logo"
      src="../../../assets/brasil-tour.svg"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main">
    <ion-card-header>
      <ion-card-title class="titulo"
        >Explore a emoção de desbravar novos horizontes.</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <p class="main-paragrafo">Passeios terrestres, aquáticos e aéreos.</p>
    </ion-card-content>
    <a class="cta" href="contato.html">Agendar</a>
  </ion-card>

  <!-- Seção de Passeios -->
  <ion-card class="passeios">
    <ion-card-header>
      <ion-card-title class="title-section">Conheça os Passeios</ion-card-title>
    </ion-card-header>

    <ion-card class="card-passeio">
      <img class="bg-trilha" src="../../../assets/trilha.jpg" alt="" />
      <ion-card-title class="card-title">Terrestre</ion-card-title>
      <ion-card-content class="card">
        <p class="card-paragrafo">
          Os passeios terrestres cativam aventureiros, permitindo exploração a
          pé, de bicicleta ou em veículos, proporcionando imersão na
          autenticidade dos cenários.
        </p>
        <a class="saiba-mais" href="passeios.html">Saiba mais »</a>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-passeio">
      <img class="bg-trilha" src="../../../assets/mergulho.jpg" alt="" />
      <ion-card-title class="card-title">Aquáticos</ion-card-title>
      <ion-card-content class="card">
        <p class="card-paragrafo">
          Passeios aquáticos oferecem uma variedade de experiências, conectando
          os aventureiros com a beleza dos ambientes marinhos, de rios
          tranquilos a aventuras vibrantes.
        </p>
        <a class="saiba-mais" href="passeios.html">Saiba mais »</a>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-passeio">
      <img class="bg-trilha" src="../../../assets/paraquedas.png" alt="" />
      <ion-card-title class="card-title">Aéreos</ion-card-title>
      <ion-card-content class="card">
        <p class="card-paragrafo">
          Seja flutuando suavemente em passeios de balão ou sobrevoando
          paisagens exuberantes em helicópteros, os passeios aeros elevam a
          experiência, proporcionando aos exploradores um espetáculo celestial
          de tirar o fôlego.
        </p>
        <a class="saiba-mais" href="passeios.html">Saiba mais »</a>
      </ion-card-content>
    </ion-card>

    <div>
      <a class="cta" href="contato.html">Ver Todos</a>
    </div>
  </ion-card>

  <!-- Seção de Galeria -->
  <ion-card class="galeria">
    <ion-card-header>
      <ion-card-title class="title-section">Galeria de Fotos</ion-card-title>
    </ion-card-header>

    <ion-card-content class="imagens">
      <img src="../../../assets/quadriciclo.jpg" alt="" />
      <img src="../../../assets/balonismo.jpg" alt="" />
      <img src="../../../assets/salto-duplo.jpg" alt="" />
      <img src="../../../assets/mergulho-cilindro.jpg" alt="" />
    </ion-card-content>

    <a class="cta" href="contato.html">Ver Mais</a>
  </ion-card>

  <!-- Seção Sobre -->
  <ion-card class="sobre">
    <ion-card-header>
      <ion-card-title class="title-section">Sobre a Empresa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card class="sobre-logo">
        <img src="../../../assets/brasil-tour-logo.svg" alt="" />
      </ion-card>
      <p class="card-paragrafo">
        A Brasil Tour nasceu do profundo desejo de explorar as riquezas
        deslumbrantes de nosso país. Inspirados pela diversidade cultural, pelas
        paisagens exuberantes e pelo calor humano, buscamos transformar a
        simples vontade de viajar em experiências inesquecíveis. Mesmo sem asas,
        alçamos voo com a imaginação e a paixão por desbravar os recantos
        fascinantes do Brasil.
      </p>
      <blockquote class="sobre-quote">
        “Somos uma comunidade de visionários, onde para nós, nem mesmo o
        horizonte é o limite.”
        <cite class="sobre-cite">- Fundador da Brasil Tour</cite>
      </blockquote>
      <!-- <a href="sobre.html" class="cta">Sobre</a> -->
    </ion-card-content>

    <a class="cta" href="contato.html">Sobre</a>
  </ion-card>

  <ion-card class="footer">
    <ion-list>
      <ion-item class="item">
        <div class="list-footer">
          <ion-label class="label">Localização</ion-label>
          <p>
            Rua Amazônia , 2024 <br />
            Bairro das Araras - Porto Alegre - RS <br />
            CEP 123456-789
          </p>
        </div>

        <a href=""></a>
      </ion-item>

      <ion-item class="item">
        <div class="list-footer">
          <ion-label class="label">Contato</ion-label>
          <ul class="footer-contato">
            <li><p>+55 (51) 99999-9999</p></li>
            <li><p>contato&#64;brasiltour.com.br</p></li>
          </ul>
        </div>
      </ion-item>

      <ion-item class="item">
        <div class="list-footer">
          <ion-label class="label">Redes sociais</ion-label>
          <div class="redes">
            <img class="icones" src="../../../assets/facebook.svg" alt="" />
            <img class="icones"  src="../../../assets/instagram.svg" alt="" />
            <img class="icones" src="../../../assets/whatsapp.svg" alt="" />
            <img class="icones" src="../../../assets/youtube.svg" alt="" />
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer class="copyright">
  <ion-toolbar>
    <p class="copyright-paragrafo">
      Copyright © 2024 Brasil Tour Todos os direitos reservados.
    </p>
  </ion-toolbar>
</ion-footer>

<!-- <script src="build/main.js"></script> -->
