<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-img
      slot="end"
      class="logo"
      src="../../../assets/brasil-tour.svg"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main bg-passeios">
    <ion-card-header>
      <ion-card-title class="titulo">Passeios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="main-paragrafo">Explore o mundo ao seu redor.</p>
    </ion-card-content>
  </ion-card>


  <ion-card class="sobre"> 
    <ion-card-header>
      <ion-card-title class="title-section">AÉREOS</ion-card-title>
    </ion-card-header>

  
    <ion-card class="passeio-card infos pb"> 
        <img class="img-passeio" src="../../../assets/asa-delta.png" alt="" />
        <h2 class="nome-passeio">Asa-delta</h2>
        <p class="card-paragrafo">
          Asa-delta é um tipo de planador composta por tubos de alumínio, que proporcionam a sua rigidez estrutural, e uma vela feita de tecidos.
        </p>
          <ul>
            <li>FICHA TÉCNICA</li>
            <li class="card-paragrafo">Idade mínima: 16 anos (menores de idade devem ir acompanhados dos pais.)</li>
            <li class="card-paragrafo">Peso máximo: 110kg (por questões de segurança não recomendamos peso superior.)</li>
            <li class="card-paragrafo">Limite por pessoa: 2 (acompanhado de instrutor ou pessoa experiente.)</li>
            <li class="card-paragrafo">Documentos necessários: RG ou passaporte, laudo médico, ficha de inscrição, carteira e comprovante.</li>
          </ul>
        <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>

    <ion-card class="passeio-card infos fundo"> 
      <img class="img-passeio" src="../../../assets/balonismo.jpg" alt="" />
      <h2 class="nome-passeio">balonismo</h2>
      <p class="card-paragrafo">
        O balonismo é um desporto aeronáutico praticado com um balão de ar quente. No Brasil, o esporte começou a popularizar-se a partir dos anos 90.
      </p>
      <ul>
        <li>FICHA TÉCNICA</li>
        <li class="card-paragrafo">Idade mínima: 7 anos (menores de idade devem ir acompanhados dos pais.)</li>
        <li class="card-paragrafo">Peso máximo: 86kg (peso individual caso atinja o limite máximo de pessoas.)</li>
        <li class="card-paragrafo">Limite por pessoa: 13 (incluindo o piloto do balão.)</li>
        <li class="card-paragrafo">Documentos necessários: RG ou passaporte, laudo médico, ficha de inscrição, carteira e comprovante.</li>
      </ul>
      <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>

    <ion-card class="passeio-card infos pb"> 
      <img class="img-passeio" src="../../../assets/paraquedas-passeios.jpg" alt="" />
      <h2 class="nome-passeio">Paraquedas</h2>
      <p class="card-paragrafo">
        O paraquedismo é praticado por desportistas que saltam de aeronaves,
        ou lugares fixos (BASE jumping), fazendo uso de um paraquedas.
      </p>
        <ul>
          <li>FICHA TÉCNICA</li>
          <li class="card-paragrafo">Idade mínima: 16 anos (menores de idade devem ir acompanhados dos pais.)</li>
          <li class="card-paragrafo">Peso máximo: 120kg (por questões de segurança não recomendamos peso superior.)</li>
          <li class="card-paragrafo">Limite por pessoa: 2 (salto duplo somente com acompanhamento do instrutor.)</li>
          <li class="card-paragrafo">Documentos necessários: RG ou passaporte, laudo médico, ficha de inscrição, carteira e comprovante.</li>
        </ul>
      <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>

    <ion-card class="passeio-card infos fundo"> 
      <img class="img-passeio" src="../../../assets/helicoptero.png" alt="" />
      <h2 class="nome-passeio">Helicóptero</h2>
      <p class="card-paragrafo">
        Eleve sua experiência a novas alturas! Em nosso passeio de helicóptero, você descobrirá uma perspectiva única, voando sobre paisagens deslumbrantes e criando memórias que ficarão gravadas para sempre nos céus da sua jornada.
      </p>
      <ul>
        <li>FICHA TÉCNICA</li>
        <li class="card-paragrafo">Idade mínima: 2 anos (menores de idade devem ir acompanhados dos pais.)</li>
        <li class="card-paragrafo">Peso máximo: 95kg (peso individual caso atinja o limite máximo de pessoas.)</li>
        <li class="card-paragrafo">Limite por pessoa: 5 (incluindo o piloto)</li>
        <li class="card-paragrafo">Documentos necessários: RG ou passaporte, laudo médico, ficha de inscrição, carteira e comprovante.</li>
      </ul>
      <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>
  </ion-card>

  <ion-card class="sobre"> 
    <ion-card-header>
      <ion-card-title class="title-section">Aquáticos</ion-card-title>
    </ion-card-header>
    <ion-card class="passeio-card infos pb"> 
        <img class="img-passeio" src="../../../assets/bike_aquatica.png" alt="" />
        <h2 class="nome-passeio">BIKE AQUÁTICA</h2>
        <p class="card-paragrafo">
          O ciclismo aquático é uma atividade esportiva que adapta ciclismo, com os mesmos movimentos de rotação, sendo dentro da água.
        </p>
          <ul>
            <li>FICHA TÉCNICA</li>
            <li class="card-paragrafo">Idade mínima: 7 anos (menores de idade devem ir acompanhados dos pais.)</li>
            <li class="card-paragrafo">Peso máximo: 110kg (por questões de segurança não recomendamos peso superior.)</li>
            <li class="card-paragrafo">Limite por pessoa: 1</li>
            <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição e comprovante.</li>
          </ul>
        <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>

    <ion-card class="passeio-card infos fundo"> 
      <img class="img-passeio" src="../../../assets/mergulho_passeios.jpg" alt="" />
      <h2 class="nome-passeio">MERGULHO COM CILINDRO</h2>
      <p class="card-paragrafo">
        O mecanismo que permite respirar embaixo d´agua o ar comprimido é o regulador de pressão que é acoplado ao cilindro de ar comprimido, reduz sua pressão até a pressão ambiente e conduz o gás por mangueiras até a boca do mergulhador, abrindo e fechando para liberar o ar a cada respirada.
      </p>
      <ul>
        <li>FICHA TÉCNICA</li>
        <li class="card-paragrafo">Idade mínima: 12 anos (menores de idade devem ir acompanhados dos pais.)</li>
        <li class="card-paragrafo">Peso máximo: 120kg (por questões de segurança não recomendamos peso superior.)</li>
        <li class="card-paragrafo">Observação: sujeito à avaliação favorável das condições meteorológicas e marítimas, visando assegurar a segurança durante o mergulho.</li>
        <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição e comprovante.</li>
      </ul>
      <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>

    <ion-card class="passeio-card infos pb"> 
      <img class="img-passeio" src="../../../assets/barco.png" alt="" />
      <h2 class="nome-passeio">BARCO</h2>
      <p class="card-paragrafo">
        Navegar em um passeio de barco é embarcar em uma jornada serena, onde as águas revelam paisagens encantadoras e cada onda conta uma história única.
      </p>
        <ul>
          <li>FICHA TÉCNICA</li>
          <li class="card-paragrafo">Idade mínima: 7 anos (menores de idade devem ir acompanhados dos pais.)</li>
          <li class="card-paragrafo">Peso máximo: 110kg (por questões de segurança não recomendamos peso superior.)</li>
          <li class="card-paragrafo">Limite por pessoa: 1</li>
          <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição e comprovante.</li>
        </ul>
      <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>

    <ion-card class="passeio-card infos fundo"> 
      <img class="img-passeio" src="../../../assets/banana_boat.png" alt="" />
      <h2 class="nome-passeio">BANANA BOAT</h2>
      <p class="card-paragrafo">
        Um banana boat é um barco inflável recreacional feito geralmente para ser rebocado. Foi inventado por Glenn Matthews no fim dos anos 80.
      </p>
      <ul>
        <li>FICHA TÉCNICA</li>
        <li class="card-paragrafo">Idade mínima: 10 anos (menores de idade devem ir acompanhados dos pais.)</li>
        <li class="card-paragrafo">Peso máximo: 120kg (por questões de segurança não recomendamos peso superior.)</li>
        <li class="card-paragrafo">Limite de pessoas: 10</li>
        <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição e comprovante.</li>
      </ul>
      <a href="sobre.html" class="cta">Agendar Passeios</a>
    </ion-card>


    <ion-card class="sobre"> 
      <ion-card-header>
        <ion-card-title class="title-section">Terrestres</ion-card-title>
      </ion-card-header>
      <ion-card class="passeio-card infos pb"> 
          <img class="img-passeio" src="../../../assets/bicicleta.png" alt="" />
          <h2 class="nome-passeio">BICICLETA</h2>
          <p class="card-paragrafo">
            O ciclismo é a prática de se usar uma bicicleta, seja como na modalidade ou na forma de locomoção.
          </p>
            <ul>
              <li>FICHA TÉCNICA</li>
              <li class="card-paragrafo">Idade mínima: 18 anos (menores de idade devem ir acompanhados dos pais.)</li>
              <li class="card-paragrafo">Peso máximo: 110kg (por questões de segurança não recomendamos peso superior.)</li>
              <li class="card-paragrafo">Limite por pessoa: 2 (acompanhado de instrutor ou pessoa experiente.)</li>
              <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição, carteira de motorista e comprovante.</li>
            </ul>
          <a href="sobre.html" class="cta">Agendar Passeios</a>
      </ion-card>
  
      <ion-card class="passeio-card infos fundo"> 
        <img class="img-passeio" src="../../../assets/quadriciclo_passeios.jpg" alt="" />
        <h2 class="nome-passeio">QUADRICICLO</h2>
        <p class="card-paragrafo">
          Considerado um brinquedo por muitos adultos, o quadriciclo ganhou novos espaços nas garagens brasileiras. Essa espécie de moto sobre quatro rodas passou a ser utilizada não só para o esporte, mas também como opção de lazer em áreas montanhosas e arenosas.
        </p>
        <ul>
          <li>FICHA TÉCNICA</li>
          <li class="card-paragrafo">Idade mínima: 18 anos (menores de idade devem ir acompanhados dos pais.)</li>
          <li class="card-paragrafo">Peso máximo: 110kg (por questões de segurança não recomendamos peso superior.)</li>
          <li class="card-paragrafo">Limite por pessoa: 2 (acompanhado de instrutor ou pessoa experiente.)</li>
          <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição, carteira de motorista e comprovante.</li>
        </ul>
        <a href="sobre.html" class="cta">Agendar Passeios</a>
      </ion-card>
  
      <ion-card class="passeio-card infos pb"> 
        <img class="img-passeio" src="../../../assets/trilha_passeios.png" alt="" />
        <h2 class="nome-passeio">TRILHAS</h2>
        <p class="card-paragrafo">
          Trilha é o caminho que se desenha na natureza, um convite para descobertas, aventuras e conexão com o ambiente ao redor.
        </p>
          <ul>
            <li>FICHA TÉCNICA</li>
            <li class="card-paragrafo">Idade mínima: 7 anos (menores de idade devem ir acompanhados dos pais.)</li>
            <li class="card-paragrafo">Recomendação: levar água e lanche, para ser consumido durante o percurso.</li>
            <li class="card-paragrafo">Observação: sujeito à avaliação favorável das condições meteorológicas e marítimas, visando assegurar a segurança durante o mergulho.</li>
            <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição e comprovante.</li>
          </ul>
        <a href="sobre.html" class="cta">Agendar Passeios</a>
      </ion-card>
  
      <ion-card class="passeio-card infos fundo"> 
        <img class="img-passeio" src="../../../assets/caminhao.png" alt="" />
        <h2 class="nome-passeio">CAMINHÃO DO EXÉRCITO</h2>
        <p class="card-paragrafo">
          Embarque neste veículo robusto que já serviu nas fileiras militares, e mergulhe em uma jornada que combina história, adrenalina e paisagens deslumbrantes.
        </p>
        <ul>
          <li>FICHA TÉCNICA</li>
          <li class="card-paragrafo">Idade mínima: 5 anos (menores de idade devem ir acompanhados dos pais.)</li>
          <li class="card-paragrafo">Peso máximo: 110kg (por questões de segurança não recomendamos peso superior.)</li>
          <li class="card-paragrafo">Limite máximo: 20</li>
          <li class="card-paragrafo">Documentos necessários: RG ou passaporte, ficha de inscrição e comprovante.</li>
        </ul>
        <a href="sobre.html" class="cta">Agendar Passeios</a>
      </ion-card>
    </ion-card>

    <ion-card class="galeria">
      <ion-card-header>
        <ion-card-title class="title-section">Galeria de Fotos</ion-card-title>
      </ion-card-header>
  
      <ion-card-content class="imagens">
        <img src="../../../assets/quadriciclo.jpg" alt="" />
        <img src="../../../assets/balonismo.jpg" alt="" />
        <img src="../../../assets/salto-duplo.jpg" alt="" />
        <img src="../../../assets/mergulho-cilindro.jpg" alt="" />
      </ion-card-content>
      <a class="cta" href="contato.html">Ver Mais</a>
    </ion-card>

  </ion-card>

  <ion-card class="footer">
    <ion-list class="lista-footer">
      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Localização</ion-label>
          <p>
            Rua Amazônia , 2024 <br />
            Bairro das Araras - Porto Alegre - RS <br />
            CEP 123456-789
          </p>
        </div>
        <a href=""></a>
      </ion-card>

      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Contato</ion-label>
          <ul class="footer-contato">
            <li><p>+55 (51) 99999-9999</p></li>
            <li><p>contato&#64;brasiltour.com.br</p></li>
          </ul>
        </div>
      </ion-card>

      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Redes sociais</ion-label>
          <div class="redes">
            <a href="https://www.facebook.com"> <img class="icones" src="../../../assets/facebook.svg" alt="" /></a>
            <a href="https://www.instagram.com"><img class="icones"  src="../../../assets/instagram.svg" alt="" /></a>
            <a href="https://web.whatsapp.com"><img class="icones" src="../../../assets/whatsapp.svg" alt="" /></a>
            <a href="https://www.youtube.com"><img class="icones" src="../../../assets/youtube.svg" alt="" /></a>
          </div>
        </div>
      </ion-card>
    </ion-list>
  </ion-card>

</ion-content>  

<ion-footer class="copyright">
  <ion-toolbar>
    <p class="copyright-paragrafo">
      Copyright © 2024 Brasil Tour Todos os direitos reservados.
    </p>
  </ion-toolbar>
</ion-footer>