<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-img
      slot="end"
      class="logo"
      src="../../../assets/brasil-tour.svg"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main bg-sobre">
    <ion-card-header>
      <ion-card-title class="titulo">Sobre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="main-paragrafo">Conheça a Brasil Tour.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="sobre">
    <ion-card-header>
      <ion-card-title class="title-section">PRAZER, SOMOS A BRASIL TOUR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="sobre-logo">
        <img src="../../../assets/brasil-tour-logo.svg" alt="" />
      </ion-card>
      <p class="card-paragrafo">
        A Brasil Tour nasceu do profundo desejo de explorar as riquezas deslumbrantes de nosso país. Inspirados pela diversidade cultural, pelas paisagens exuberantes e pelo calor humano, buscamos transformar a simples vontade de viajar em experiências inesquecíveis. Mesmo sem asas, alçamos voo com a imaginação e a paixão por desbravar os recantos fascinantes do Brasil.
      </p>
      <blockquote class="sobre-quote">
        “Gosto de pensar que somos um grupo de sonhadores e que, para nós, nem mesmo o céu é o limite.”
        <cite class="sobre-cite">- Fundador da Brasil Tour</cite>
      </blockquote>
      <!-- <a href="sobre.html" class="cta">Sobre</a> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="mvv">
    <ion-card class="card-mvv">
      <img class="img-mvv" src="../../../assets/missao.svg" alt="" />
      <ion-card-title class="card-title-mvv">Missão</ion-card-title>
      <ion-card-content class="card">
        <p class="paragrafo-mvv">
          Conduzir nossos clientes a experiências memoráveis, revelando a beleza única do Brasil com excelência e compromisso com a satisfação
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-mvv">
      <img class="img-mvv" src="../../../assets/visao.svg" alt="" />
      <ion-card-title class="card-title-mvv">Visão</ion-card-title>
      <ion-card-content class="card">
        <p class="paragrafo-mvv">
          Aspiramos ser a principal referência no setor, celebrada pela inovação, sustentabilidade e pela capacidade de proporcionar experiências únicas e inspiradoras.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-mvv">
      <img class="img-mvv" src="../../../assets/valores.svg" alt="" />
      <ion-card-title class="card-title-mvv">Valores</ion-card-title>
      <ion-card-content class="card">
        <p class="paragrafo-mvv">
          Guiados pela integridade, sustentabilidade e inovação constante, valorizamos a diversidade, a responsabilidade social e a busca incessante pela satisfação do cliente.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-card>
  <ion-card class="faixa">
    <h2 class="faixa-title">Brasil Tour - Descubra a Beleza do Brasil</h2>
  </ion-card>

  <ion-card class="destaques">
    <ion-card-header>
      <ion-card-title class="title-section">Nossos Destaques</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="card-destaques">
        <ul class="feature-list">
          <li class="feature-item">
            <h2 class="feature-title">1. Destinos Exclusivos</h2>
            <p class="feature-description">
              Explore locais únicos e deslumbrantes que só a Brasil Tour pode
              oferecer.
            </p>
          </li>

          <li class="feature-item">
            <h2 class="feature-title">2. Guias Especializados</h2>
            <p class="feature-description">
              Nossos guias são apaixonados por compartilhar conhecimento e
              garantir uma experiência enriquecedora.
            </p>
          </li>

          <li class="feature-item">
            <h2 class="feature-title">3. Atendimento Personalizado</h2>
            <p class="feature-description">
              Estamos aqui para tornar cada momento da sua viagem memorável,
              proporcionando um atendimento personalizado.
            </p>
          </li>

          <li class="feature-item">
            <h2 class="feature-title">4. Segurança em Primeiro Lugar</h2>
            <p class="feature-description">
              Comprometidos com os mais altos padrões de segurança para garantir
              tranquilidade em todas as atividades.
            </p>
          </li>
        </ul>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card class="main bg-agendar">
    <ion-card-header>
      <ion-card-title class="titulo">Agende seu passeio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="main-paragrafo">
        Não perca tempo! Reserve agora o passeio dos seus sonhos e garanta
        memórias inesquecíveis para toda a vida. A aventura aguarda por você!
      .</p>
    </ion-card-content>
    <a class="cta" href="contato.html">Agendar</a>
  </ion-card>

  <ion-card class="footer">
    <ion-list class="lista-footer">
      <ion-card class="item">
        <div class="item-background">
          <div class="list-footer">
          <ion-label class="label">Localização</ion-label>
          <p>
            Rua Amazônia , 2024 <br />
            Bairro das Araras - Porto Alegre - RS <br />
            CEP 123456-789
          </p>
        </div>
        <a href=""></a>
        </div>
      </ion-card>

      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Contato</ion-label>
          <ul class="footer-contato">
            <li><p>+55 (51) 99999-9999</p></li>
            <li><p>contato&#64;brasiltour.com.br</p></li>
          </ul>
        </div>
      </ion-card>

      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Redes sociais</ion-label>
          <div class="redes">
            <img class="icones" src="../../../assets/facebook.svg" alt="" />
            <img class="icones"  src="../../../assets/instagram.svg" alt="" />
            <img class="icones" src="../../../assets/whatsapp.svg" alt="" />
            <img class="icones" src="../../../assets/youtube.svg" alt="" />
          </div>
        </div>
      </ion-card>
    </ion-list>
  </ion-card>

</ion-content>

<ion-footer class="copyright">
  <ion-toolbar>
    <p class="copyright-paragrafo">
      Copyright © 2024 Brasil Tour Todos os direitos reservados.
    </p>
  </ion-toolbar>
</ion-footer>