.bg-sobre {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../assets/bg-sobre-mobile.jpg") center center/cover no-repeat;
}

.bg-agendar{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/bg-agendar.jpg") center center/cover no-repeat;
}
ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.mvv{
    background-color: #549e59;
}

.faixa{
    padding: 20px;
    background-color: #e48900;
}

.img-mvv{
    margin-top: 1rem;
}

.card-title-mvv{
    color: #13521e;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.paragrafo-mvv{
    text-align: center;
}

.title-section{
    font-weight: bold;
}


.faixa-title{
    color: white;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.feature-list {
    list-style-type: none;
}

.feature-item {
    margin-bottom: 20px;
}

.feature-title {
    font-weight: bold;
    font-size: 18px;
    color: #db7515;
    margin-bottom: 10px;
}

.feature-description {
    margin-top: 10px;
    font-size: 14px;
    color: #404a52;
}

.card-destaques{
    text-align: left;
    padding: 1rem;
    background-color: white;
    border: 1px solid #dcddde;
}