/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// MENU




a{
    text-decoration: none;
}

ion-toolbar {
    --background: rgb(23, 139, 23);
    --color: white;
    padding: 0 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

.menu {
    color: white;
}

.header {
    height: 70px;
    display: flex;
}

.logo {
    max-width: 183px;
    max-height: 34px;
}



.cta {
    font-size: 1.125rem;
    padding: 1rem 4rem;
    background-color: #db7515;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}

.main {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    border-radius: 0;
}

.titulo {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.main-paragrafo {
    font-size: 1.125rem;
    color: white;
    font-family: "georgia", sans-serif;
}



// GALERIA

.galeria {
    margin: 0;
    text-align: center;
    padding: 3rem 0;
    background-color: white;
}

.imagens {
    margin-top: 1rem;
}

.imagens img {
    border-radius: 5px;
    margin-bottom: 10px;
}



// FOOTER
ion-content {
    --background: #fafbfc;
}

ion-card {
    --background: #edeeef;
}

.footer {
    margin: 0;
    padding: 3rem 0;
    background-color: #333c43;
    text-align: center;
    border-radius: 0;
}

ion-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}


.label {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.list-footer {
    text-align: center;
    padding: 2rem;
    width: 360px;
    border-bottom: 1px solid gray;
}

.copyright-paragrafo {
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-align: center;
}

.footer-contato {
    list-style-type: none;
    padding: 0;
}

.redes {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.icones {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    padding: 8px;
    background-color: #13521e;
}

.icones img {
    width: 8px;
}


.sobre, .destaques {
    margin: 0;
    text-align: center;
    padding-top: 3rem;
}

.sobre-quote {
    font-family: "georgia", sans-serif;
    quotes: none;
    font-size: 1.5rem;
    font-style: italic;
    max-width: 750px;
    margin: 2rem auto 0;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}

.sobre-cite {
    display: block;
    text-align: right;
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}

.sobre-logo{
    padding: 2rem;
    background-color: white;
    border: 1px solid #dcddde;
}


.card {
    position: relative;
    text-align: left;
    width: 100%;
}

.card a {
    margin-top: 1rem;
}

.card-title {
    position: absolute;
    top: 25%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.card-passeio, .card-mvv {
    padding: 0;
    border: 1px solid #dcddde;
    background-color: white;
    margin-bottom: 3rem;
}

.passeios, .mvv, .faixa {
    text-align: center;
    margin: 0;
    border-radius: 0;
}
.passeios, .mvv{
    padding: 3rem 0;
}

.title-section {
    font-size: 1.5rem;
    color: green;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.card-paragrafo{
    text-align: left;
}

.card-paragrafo, .paragrafo-mvv {
    font-size: 0.875rem;
    color: black;
    line-height: 1.5;
    font-family: "georgia", sans-serif;
 
}

.saiba-mais {
    display: block;
    margin-top: 1rem;
    color: green;
    transition: 0.1s ease-out;
}

.fundo{
    margin: 0;
    padding: 3rem 1rem;
    border-radius: 0;
    background-color: #fafbfc;
}