<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-img
      slot="end"
      class="logo"
      src="../../../assets/brasil-tour.svg"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="main bg-contato">
    <ion-card-header>
      <ion-card-title class="titulo">Contato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="main-paragrafo">Reserve seu passeio agora. Envie sua mensagem!</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="sobre fundo">
    <ion-card-header>
      <ion-card-title class="title-section">AGENDE PELO WHATSAPP</ion-card-title>
    </ion-card-header>
    <ion-card-content class="agendar-wpp">
      <ion-card class="sobre-logo wpp">
        <img src="../../../assets/whatsapp-logo.svg" alt="" />
        <p class="card-paragrafo center">Sabia que facilitamos tudo para você? Agende seus passeios e receba atendimento direto pelo WhatsApp. É prático, rápido e descomplicado. Estamos à disposição para tornar sua experiência ainda mais fácil.</p>
      </ion-card>
      <a href="sobre.html" class="cta">Enviar WhatsApp</a>
    </ion-card-content>
  </ion-card>


  <ion-card class="sobre"> 
    <ion-card-header>
      <ion-card-title class="title-section">ATENDIMENTO PERSONALIZADO</ion-card-title>
    </ion-card-header>

  
    <ion-card class="passeio-card infos-form">
        <ion-item >
          <ion-label class="form-label">Nome:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label class="form-label">Email:</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label class="form-label">Passeio:</ion-label>
          <ion-select>
            <ion-select-option>Asa-delta</ion-select-option>
            <ion-select-option>Balonismo</ion-select-option>
            <ion-select-option>Paraquedas</ion-select-option>
            <ion-select-option>Helicóptero</ion-select-option>
            <ion-select-option>Bike aquática</ion-select-option>
            <ion-select-option>Mergulho com cilindro</ion-select-option>
            <ion-select-option>Barco</ion-select-option>
            <ion-select-option>Banana boat</ion-select-option>
            <ion-select-option>Bicicleta</ion-select-option>
            <ion-select-option>Quadriciclo</ion-select-option>
            <ion-select-option>Trilhas</ion-select-option>
            <ion-select-option>Caminhão do Exército</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item >
          <ion-label class="form-label">Mensagem:</ion-label>
          <ion-textarea class="text-area"></ion-textarea>
        </ion-item>
      </ion-card>
      <a href="sobre.html" class="cta">Enviar</a>
  </ion-card>




</ion-content>