<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-img
      slot="end"
      class="logo"
      src="../../../assets/brasil-tour.svg"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main bg-contato">
    <ion-card-header>
      <ion-card-title class="titulo">Contato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="main-paragrafo">
        Reserve seu passeio agora. Envie sua mensagem!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="sobre fundo">
    <ion-card-header>
      <ion-card-title class="title-section"
        >AGENDE PELO WHATSAPP</ion-card-title
      >
    </ion-card-header>
    <ion-card-content class="agendar-wpp">
      <ion-card class="sobre-logo wpp">
        <img src="../../../assets/whatsapp-logo.svg" alt="" />
        <p class="card-paragrafo center">
          Sabia que facilitamos tudo para você? Agende seus passeios e receba
          atendimento direto pelo WhatsApp. É prático, rápido e descomplicado.
          Estamos à disposição para tornar sua experiência ainda mais fácil.
        </p>
      </ion-card>
      <a href="https://web.whatsapp.com" class="cta">Enviar WhatsApp</a>
    </ion-card-content>
  </ion-card>

  <ion-card class="sobre">
    <ion-card-header>
      <ion-card-title class="title-section"
        >ATENDIMENTO PERSONALIZADO</ion-card-title
      >
    </ion-card-header>

    <ion-card class="passeio-card infos-form">
      <ion-item>
        <ion-label class="form-label">Nome:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="form-label">Email:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="form-label">Passeio:</ion-label>
        <ion-select class="form-label">
          <ion-select-option>Asa-delta</ion-select-option>
          <ion-select-option>Balonismo</ion-select-option>
          <ion-select-option>Paraquedas</ion-select-option>
          <ion-select-option>Helicóptero</ion-select-option>
          <ion-select-option>Bike aquática</ion-select-option>
          <ion-select-option>Mergulho com cilindro</ion-select-option>
          <ion-select-option>Barco</ion-select-option>
          <ion-select-option>Banana boat</ion-select-option>
          <ion-select-option>Bicicleta</ion-select-option>
          <ion-select-option>Quadriciclo</ion-select-option>
          <ion-select-option>Trilhas</ion-select-option>
          <ion-select-option>Caminhão do Exército</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="mb">
        <ion-label class="form-label">Mensagem:</ion-label>
        <ion-textarea class="text-area form-label"></ion-textarea>
      </ion-item>
      <a href="#" class="cta">Enviar</a>
    </ion-card>
    <ion-card class="contatos">
      <h2 class="titulo-contatos">Entre em contato conosco.</h2>
      <p class="paragrafo-contatos">
        +55 (51) 99999-9999 <br />
        contatobrasiltourcom
      </p>
      <h2 class="titulo-contatos">Conecte-se conosco nas redes sociais</h2>
      <p class="paragrafo-contatos">
        facebook.com instagram.com<br />
        youtube.com<br />
        contatobrasiltour.com
      </p>
      <h2 class="titulo-contatos">Venha nos conhecer pessoalmente</h2>
      <p class="paragrafo-contatos">
        Rua Amazônia , 2024 Bairro das Araras - Porto Alegre - RS CEP
        123456-789<br />
      </p>
      <h2 class="titulo-contatos">Sobre nós</h2>
      <p class="paragrafo-contatos">
        A Brasil Tour nasceu da aspiração eterna de explorar o desconhecido.
        Movidos pelo desejo de desvendar os encantos do Brasil, transformamos
        essa paixão em realidade, construindo experiências seguras e
        inesquecíveis. Assim como o sonho de voar, a Brasil Tour se dedica a
        proporcionar aventuras que transcendem os limites da imaginação,
        conectando os viajantes ao coração pulsante do nosso país.
      </p>
    </ion-card>
  </ion-card>
  <ion-card class="destaques background">
    <ion-card-header>
      <ion-card-title class="title-section">FAQ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="card-destaques">
        <ul class="feature-list">
          <li class="feature-item">
            <h2 class="feature-title">1. Como posso agendar um passeio?</h2>
            <p class="feature-description">
              Você pode agendar um passeio facilmente através do nosso site ou entrando em contato diretamente pelo WhatsApp.
            </p>
          </li>

          <li class="feature-item">
            <h2 class="feature-title">2. Qual é a política de cancelamento?
            </h2>
            <p class="feature-description">
              Oferecemos políticas flexíveis de cancelamento. Consulte nossa página de termos e condições para obter mais detalhes.
            </p>
          </li>

          <li class="feature-item">
            <h2 class="feature-title">3. Quais são os documentos necessários para participar dos passeios?
            </h2>
            <p class="feature-description">
              Os documentos necessários incluem RG ou passaporte, laudo médico, ficha de inscrição, carteira e comprovante de residência. Certifique-se de verificar os requisitos específicos para cada passeio.
            </p>
          </li>

          <li class="feature-item">
            <h2 class="feature-title">4. Como posso obter informações sobre as condições meteorológicas para o passeio?
            </h2>
            <p class="feature-description">
              Fornecemos atualizações regulares sobre as condições meteorológicas em nosso site. Além disso, nossa equipe entrará em contato se houver alguma alteração no itinerário devido às condições adversas.
            </p>
          </li>
        </ul>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card class="sobre">
    <ion-card-header>
      <ion-card-title class="title-section"
        >VIZUALIZAR NO MAPA</ion-card-title
      >
    </ion-card-header>
    <ion-card-content class="maps">
      <p class="card-paragrafo center">
        Clique no mapa para abrir o aplicativo Google Maps.
      </p>
        <a href="https://www.google.com/maps?hl=pt-BR&gl=br&um=1&ie=UTF-8&fb=1&sa=X&ftid=0x951978fd87d8621b:0xd0413b8f8b08637a"><img src="../../../assets/mapa.jpg" alt="" /></a>
    </ion-card-content>
  </ion-card>
  <ion-card class="footer">
    <ion-list class="lista-footer">
      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Localização</ion-label>
          <p>
            Rua Amazônia , 2024 <br />
            Bairro das Araras - Porto Alegre - RS <br />
            CEP 123456-789
          </p>
        </div>
        <a href=""></a>
      </ion-card>

      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Contato</ion-label>
          <ul class="footer-contato">
            <li><p>+55 (51) 99999-9999</p></li>
            <li><p>contato&#64;brasiltour.com.br</p></li>
          </ul>
        </div>
      </ion-card>

      <ion-card class="item">
        <div class="list-footer">
          <ion-label class="label">Redes sociais</ion-label>
          <div class="redes">
            <a href="https://www.facebook.com"> <img class="icones" src="../../../assets/facebook.svg" alt="" /></a>
            <a href="https://www.instagram.com"><img class="icones"  src="../../../assets/instagram.svg" alt="" /></a>
            <a href="https://web.whatsapp.com"><img class="icones" src="../../../assets/whatsapp.svg" alt="" /></a>
            <a href="https://www.youtube.com"><img class="icones" src="../../../assets/youtube.svg" alt="" /></a>
          </div>
        </div>
      </ion-card>
    </ion-list>
  </ion-card>

</ion-content>

<ion-footer class="copyright">
  <ion-toolbar>
    <p class="copyright-paragrafo">
      Copyright © 2024 Brasil Tour Todos os direitos reservados.
    </p>
  </ion-toolbar>
</ion-footer>